<strong>Olá, {{ courier }}</strong>
<p>Foi criada uma nova ordem de entrega, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ name }} <br />
  <strong>Endereço: </strong> {{ street }}, nro.{{ number }}, <br />
  <strong>Complemento: </strong> {{ fullAddress }}, CEP: {{ zipCode }} <br />
  <strong>Cidade: </strong> {{ city }} <br />
  <strong>Estado: </strong> {{ state }} <br />
  <br />
  <small>
    A encomenda já pode ser retirada.
  </small>
</p>
