<strong>Olá, {{ courier }}</strong>
<p>Uma ordem de entrega foi cancelada, confira os detalhes abaixo:</p>
<p>
  <strong>Motivo do cancelamento: </strong> {{ description }} <br />
  <br />
  <strong>Destinatário: </strong> {{ name }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <strong>Endereço: </strong> {{ street }}, nro.{{ number }}, <br />
  <strong>Complemento: </strong> {{ fullAddress }}, CEP: {{ zipCode }} <br />
  <strong>Cidade: </strong> {{ city }} <br />
  <strong>Estado: </strong> {{ state }} <br />
  <br />
</p>
